<div class="row contentblock-distance-xs">
    <div class="col-xs-12">
        <a href="{{ ez_field_value(content, 'file').uri }}" class="contentblock-panel">
            <div class="contentblock-panel-icon">
                <i class="fa fa-download" aria-hidden="true"></i>
            </div>
            <div class="contentblock-panel-text">
                {{ ez_field_value(content, 'headline') }}
            </div>
        </a>
    </div>
</div>