<a href="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'fullHD' ).uri) }}" class="col-md-4 col-xs-6">
    {{ ez_render_field(content, 'image', { "parameters": {"alias": "contentblockimg"} } ) }}
</a>