<div class="contentblock-distance contentblock-text">
    <div class="row">
        <a href="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'fullHD' ).uri) }}" class="col-xs-12">
            {{ ez_render_field(content, 'image', { "parameters": {"alias": "contentblockfullimg"} } ) }}
        </a>
    </div>
</div>