<div class="row contentblock-distance-xs contetblock-text">
    <div class="col-xs-12">
        <h3 class="contentblock-headline">{{ ez_field_value(content, 'headline') }}</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ ez_field_value(content, 'youtube_id') }}" allowfullscreen></iframe>
        </div>
    </div>
</div>