{% if ez_field_value( content, "hide_headline" ) == '1' %}
    <div class="contentblock-distance contentblock-text">
{% else %}
    <div class="contentblock-distance contentblock-text">
{% endif %}
    <div class="row">
        <div class="col-xs-12">
            {% if ez_field_value( content, "hide_headline" ) == '0' %}
                <h3 class="contentblock-headline">{{ ez_field_value(content, 'headline') }}</h3>
            {% endif %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ ez_field_value(content, 'youtube_id') }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>